/* START common styles */

.link {
  border-bottom: 1px solid currentColor;
  text-decoration: none;
  text-transform: lowercase;
}

.display-block {
  display: block;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.extended-letter-spacing {
  letter-spacing: 30px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.section-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 0.6;
  background-color: #000000;
}

.address {
  font-style: normal;
  line-height: 1.35;
}

/* END common styles */


/* START header */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  justify-content: space-between;
  align-items: start;
  gap: 32px;
  padding: 92px 50px 96px;
}

.header__menu {
  align-self: center;
}

.header__menu-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header__menu-item:first-child {
  list-style-type: none;
}

.header__menu-link_active {
  border-bottom-color: transparent;
}

.header__logo {
  width: 148px;
  padding-right: 6px;
  padding-left: 6px;
}

.header__logo-image {
  display: block;
}

.header__address {
  justify-self: end;
  width: 240px;
  margin-top: 4px;
}

/* END header */


/* START cover */

.cover {
  position: relative;
  z-index: 0;
  margin-bottom: 184px;
  padding: 165px 50px 50px;
  color: #ffffff;

  /* Добавляю темный фон, в качестве фолбека, если не загрузится изображение, чтобы белый текст не сливался с фоном страницы */

  background-color: #212121;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15;
  text-transform: uppercase;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 106px;
  font-size: 22px;
  text-transform: uppercase;
}

.cover__description-text {
  word-spacing: 0.85em;
}

.button-bet {
  border: 1px solid currentColor;
  padding: 13px 32px 14px;
  color: inherit;
  line-height: 1;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

/* END cover */


/* START lots */

.lots {
  margin-bottom: 120px;
  padding-right: 24px;
  padding-left: 24px;
  font-size: 20px;
}

.lots__title {
  margin-bottom: 30px;
  margin-left: 40px;
}

.lots__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  list-style-type: none;
}

.lots__item {
  flex-basis: 334px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 35px;
  height: 100%;
  padding: 48px 40px;
  color: #ffffff;

  /* Добавляю темный фон, в качестве фолбека, если не загрузится изображение, чтобы белый текст не сливался с фоном страницы */

  background-color: #212121;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_movie {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  text-decoration-line: underline;
  text-decoration-thickness: from-font;
  text-decoration-skip-ink: none;
  text-underline-offset: 2px;
  text-transform: uppercase;
}

.card__title span {
  border-bottom: 1px solid currentColor;
}

.lots__more-link {
  display: inline-block;
  margin-top: 30px;
  margin-left: 40px;
}

/* END lots */


/* START about */

.about {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: min-content 1fr;
  grid-template-areas:
    'logo title title'
    '.... text  text';
  row-gap: 8px;
  column-gap: 25px;
  margin-bottom: 180px;
  padding: 33px 24px 0;
}

.about__logo {
  display: flex;
  grid-area: logo;
  justify-self: center;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000000;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  grid-area: title;
  align-self: center;
  margin-top: 8px;
}

.about__text {
  display: grid;
  grid-area: text;
  gap: 24px;
  font-size: 20px;
}

.about__text p:first-of-type {
  margin-right: 5px;
}

/* END about */


/* START footer */

.footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: start;
  gap: 32px;
  padding: 0 50px 82px;
}

.footer__address {
  max-width: 265px;
}

.footer__menu {
  line-height: 1;
  text-align: center;
  white-space: nowrap;
}

.footer__menu-list {
  display: grid;
  gap: 3px;
  margin-top: 4px;
  list-style-type: none;
}

.footer__menu-link_active {
  border-bottom-color: transparent;
}

.footer__socials {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 48px;
  list-style-type: none;
}

.footer__socials-ink {
  display: block;
  width: 48px;
}

.footer__socials-icon {
  display: block;
}

/* END footer */
